.thumbnails.svelte-1tkea93.svelte-1tkea93 {
  justify-content: initial;
}

.thumbnails.scroll-hide.svelte-g4rw9 {
  justify-content: initial;
}

div[id^="image_browser_tab"][id$="image_browser_gallery"].hide_loading > .svelte-gjihhp {
  display: none;
}

.image_browser_gallery img {
  object-fit: scale-down !important;
}
